@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --mainfont: "Quicksand", sans-serif;
  --palette-primary: #40dfef;
  --palette-alternate: #b9f8d3;
  --palette-main: #fffbe7;
  --palette-secondary: #e78ea9;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainfont);
  background-color: var(--palette-main);
}

a {
  text-decoration: none;
  color: black;
}

.standard {
  position: absolute;
}

.flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  width: 100%;
}

.side-content {
  margin-left: 270px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button {
  color: #fff;
  cursor: pointer;
  height: 30px;
  width: 160px;
  border: none;
  background-size: 300% 100%;
  font-weight: 400;
  font-size: 1em;
  font-family: var(--mainfont);
  background-image: linear-gradient(to right,
      #25aae1,
      #40e495,
      #30dd8a,
      #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-position: 100% 0;
  transform: scale(1.05);
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.msg {
  display: flex;
  align-items: center;
  background-color: grey;
  min-height: 20px;
  width: fit-content;
  border-radius: 25px;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.messages {
  overflow: auto;
  width: 700px;
  height: 470px;
}

.rightMSG {
  float: right;
  margin-right: 20px;
  background-color: rgb(29, 155, 240);
}

.leftMSG {
  margin-top: -30px;
}

.gifMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
  height: 340px !important;
  background-color: white;
  border: 2px solid #25aae1;
  border-radius: 25px;
  margin-left: 220px;
  margin-top: 130px;
  opacity: 0;
  z-index: 100000000000;
}

.gifInput {
  position: fixed;
  height: 30px;
  width: 400px;
  margin-top: 5px;
  font-family: var(--mainfont);
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(252, 250, 250);
  padding-left: 10px;
}

.gifs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 450px;
  cursor: pointer;
}

.gif {
  margin-top: 5px;
  margin-left: 5px;
}